<h1>Hello, I am your coach</h1>
<h3>what did you want to tell me?</h3>

<form action="answer" method="get">
  <label for="question">tell me anything you want:</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="submit!">
</form>
